@keyframes change {
	0% {
		color: white;
	}
	10% {
		color: rgb(216, 135, 135);
	}
	20% {
		color: rgb(219, 185, 71);
	}
	30% {
		color: rgb(177, 250, 7);
	}
	40% {
		color: rgb(17, 238, 10);
	}
	50% {
		color: rgb(52, 245, 165);
	}
	60% {
		color: rgb(7, 245, 253);
	}
	70% {
		color: rgb(8, 135, 253);
	}
	80% {
		color: rgb(72, 8, 248);
	}
	90% {
		color: rgb(132, 63, 243);
	}
	100% {
		color: rgb(248, 3, 175);
	}
}

#info {
	background:#333;
	opacity:0.8;
	position: absolute;
	top:5px;
	right:5px;
	width:280px;
	color:#fff;
	border-radius: 5px;
	z-index:10
	
}
h1 {
    position: fixed;
    z-index: 999;
    color: white;
    transform: translateX(600px);
	animation: change 10s infinite;
}

#info p {
   padding:0 10px;
}

#info a{ color:#f2ea0a; }

/* basic styles for black background and crosshair cursor */
body {
	background: #000;
	margin: 0;
}

canvas {
	cursor: crosshair;
	display: block;
}